//This file outlines the layout of the webpage. Other pug files extend this one to create the webpages content.
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
